<p>
  <%= link_to 'Português', root_path(locale: 'pt-BR') %>
</p>
<p>
  <%= link_to 'English', root_path(locale: 'en') %>
</p>
<h1>Seja Bem-Vindo!</h1>
<p>O idioma usada nessa aplicação é: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Data: </strong><%= I18n.l(Date.today) %></p>
<p><%= t('hello') %></p>
<h2>Crypto Wallet</h2>
<%= render "menu"%>
<p>
  Você está em ambiente de : <%= ambiente_rails %>
</p>
<p>
  Eu sou uma variável de instância/sessão <strong><%= @meu_nome %></strong>
</p>
<p>
  Eu sou uma variável de instância/sessão <strong><%= @curso %></strong>
</p>
